body{
    background-color: lightblue;
}

#TitleP1 {
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color:black;
    font-size: 120px;
    margin-top: 80px;
    letter-spacing: 2px;
}

#GuessContinent {
    text-align: center;
    font-weight:normal;
    font-family: Times New Roman;
    color: black;
    font-size: 25px;
    position: relative;
    top: 85px;
}


#world{
    margin: 0 auto;
    width: 850px;
    position: relative;
    top: 130px;
    left: -7px;
}

#map {
    width: 100%;
}

#EuropeBox {
    width: 203px;
    height: 143px;
    background-color: white;
    opacity: 0;
    position: absolute;
    top: 83px;
    left: 367px;
    transform: skew(-20deg)rotate(-10deg);
    clip-path:polygon(7% 100%, 18% 0%, 94% 0%, 83% 100%);
}

#Circle1 {
    width: 30px;
    height: 22px;
    background-color: white;
    opacity: 0;
    position: absolute;
    top: 106px;
    left: 353px;
    border-radius: 50%; 
}

#Circle2 {
    width: 47px;
    height: 30px;
    background-color: white;
    opacity: 0;
    position: absolute;
    top: 24px;
    left: 433px;
    border-radius: 50%; 
}

#Circle3 {
    width: 50px;
    height: 23px;
    background-color: white;
    opacity: 0;
    position: absolute;
    top: 14px;
    left: 514px;
    border-radius: 50%; 
}

#TitleEuropePage {
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color:black;
    font-size: 65px;
    margin-top: 70px;
    letter-spacing: 2px;
}
#FlagWrapper {
    margin:0 auto;
    width: 1000px;
    position: relative;
    top: 100px;
    left: 0px;
   margin-bottom: 110px;
}

#CountryYesTransparentBox {
    background-color: white;
    opacity: 0;
    width: 75px;
    height: 85px;
    position: absolute;
    top: 205px;
    left: 459px;
}

#BackWrapper{
    width: 50px;
    height: 50px;
    position: relative;
    top: 0px;
    left:30px;
    margin-bottom: 40px;
}

#NoPageTitle{
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color:black;
    font-size: 100px;
    margin-top: 80px;
}

#NoPageWrapper{
    margin: 0 auto;
    width: 460px;
    position: relative;
    top: 60px;
    margin-bottom: 160px;
}
#Back{
    width: 50px;
    height: 50px;
    max-width:100%;
}