body{
    background-color: lightblue;
}

#TitleP1 {
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color:black;
    font-size: 65px;
    margin-top: 80px;
    letter-spacing: 2px;
}

#GuessContinent {
    text-align: center;
    font-weight:normal;
    font-family: Times New Roman;
    color: black;
    font-size: 25px;
    position: relative;
    top: 85px;
}


#world{
    margin: 0 auto;
    width: 850px;
    position: relative;
    top: 130px;
    left: -7px;
}

#map {
    width: 100%;
}

#EuropeBox {
    width: 203px;
    height: 143px;
    background-color: white;
    opacity: 0;
    position: absolute;
    top: 83px;
    left: 367px;
    transform: skew(-20deg)rotate(-10deg);
    clip-path:polygon(7% 100%, 18% 0%, 94% 0%, 83% 100%);
}

#TitleEuropePage {
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color:black;
    font-size: 65px;
    margin-top: 70px;
    letter-spacing: 2px;
}
#FlagWrapper {
    margin:0 auto;
    width: 1000px;
    position: relative;
    top: 100px;
    left: 0px;
   margin-bottom: 160px;
}

#CountryYesTransparentBox {
    background-color: white;
    opacity: 0;
    width: 75px;
    height: 85px;
    position: absolute;
    top: 205px;
    left: 459px;
}

#ItalyPageTitle{
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color:black;
    font-size: 65px;
    margin-top: 70px;
    letter-spacing: 3px;
}

#GridWrapper {
    position: relative;
    top: 80px;
    margin-bottom: 160px;
}

#StyledTable{
    border-collapse: collapse;
    margin: 0 auto;
}

#StyledTable td {
    border: 5px solid white;
    width: 300px;
    height: 300px;
    text-align: center;
}

img{
    max-width: 90%;
    width: auto;
    height:200px;
}