@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

body {
    margin: 0;
  }

  .section{
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  #sec1{
    background-image: url(Page1Background.png);
    background-position: center;
    background-size: cover;
  }

#Section1Title {
    font-family:"Just AnotherHand";
    font-weight: bold;
    color: white;
    font-size:10vw;
    top: 50vw;
    text-align: center;
    padding-top: calc(50vh - 100px);
}

  #sec2 {
    background-color:#312e2f;
    
  }
  
  #Headings {
    font-family:"Just Another";
    font-weight: bold;
    color: white;
    font-size:4vw;
    position:relative;
    top: 80px;
    text-align: center;
}
    
#GridWrapper {
    position: relative;
    top: 40px;
    margin-bottom: 120px;
    height:20%;
    }
    
#StyledTable{
    border-collapse:separate;
    margin: 0 auto;
    border-spacing: 40px;
}
    
 #StyledTable td {
    border: 5px solid white;
    width: 150px;
    height: 150px;
    text-align: center;
    color: white;
    font-family: "Just Another Hand";
    font-size: 2vw;
    letter-spacing: 1.5px;
    padding-top: 10px;
    
}
    
img{
    max-width: 100%;
    width: auto;
    height:auto;
 
  }

  #sec3 {
    background-color: #434242;
   }


