body{
    background: radial-gradient(rgb(191, 167, 30), rgb(0, 0, 0));
}

#Title {
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: white;
    font-size:6vw;
    margin-top: 60px;
    letter-spacing: 2px;
}

#FlexWrapper{
display: flex;
flex-wrap:wrap;
position:relative;
margin-top: 80px;

}
.tile{
    width:300px;
    height:auto;
    margin: 30px;
    background-color: blue;
}

img{
    max-width: 100%;
    width: auto;
    height:auto;
    
}

/*#CasesOuterBox {
    margin: 0 auto;
    width: 35vw;
    position: relative;
    top: 90px;
    background-color: blue;
    margin-bottom: 200px;
}

#CaseSize{
    width:100%
    }

 <div id="CasesOuterBox">
        <img id="CaseSize" src="closed Briefcase3.png">
        <img id="CaseSize" src="closed Briefcase3.png">
        <img id="CaseSize" src="closed Briefcase3.png">
        <img id="CaseSize" src="closed Briefcase3.png">
    </div>