body{
    background: radial-gradient(rgb(191, 167, 30), rgb(0, 0, 0));
  
}

/* input {
    display: none;
} */

#Title {
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: white;
    font-size:6vw;
    margin-top: 90px;
    letter-spacing: 2px;
}

#FlexWrapper{
display: flex;
flex-wrap:wrap;
position:relative;
margin-top: 130px;
align-items: center;
justify-content: center;

}
.tile{
    width: 350px;
    height:auto;
    margin: 50px;
    /* background-color: blue; */
    justify-content: space-evenly center;
}

img{
    max-width: 100%;
    width: 350px;
    height:auto;
    
}
/* input {
    display: none;
  } */

  #case1closed {
    display: block;
    position: relative;
    /* background-color: blue; */
  }

  #case1open {
    opacity: 0;
  /*   pointer-events: none; */
    width: 100%;
    height: 100%;
    /* background-color: red; */
  }

  #case1static:checked ~ #case1closed > #case1open {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
  }

  #case1static:checked ~ #case1closed > #CaseSize { 
    opacity: 0;
  }

  
  span {
    display: none;
  }
  
  #case1static:checked ~ #test > span {
    display: inline-block;
  }
